<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetic Retinopathy Detection</title>
    <link rel="stylesheet" href="style.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <h1>Diabetic Retinopathy Detection</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="imageUpload" class="custom-file-upload">
                <input type="file" name="image" id="imageUpload" accept="image/*" required>
                Choose Image
            </label>
            <button type="submit">Predict</button>
        </form>
        <div id="result" style="display: none;">
            <h3>Prediction:</h3>
            <p id="predictionResult"></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#uploadForm').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $('#predictionResult').text(response.prediction);
                        $('#result').show();
                    },
                    error: function(error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
</body>
</html>
